@import "../mixins";
@import "../variables";

.feedback {
  background: url("../img/section/__feedback-bg.png") no-repeat center / cover;
  padding-top: 98px;
  padding-bottom: 30px;

  &__row {
    justify-content: space-between;
  }

  &__column {
    flex: 0 0 26%;
    margin-top: 100px;

    &__img-container {
      @include d-flex-center;
      height: 65px;
      margin-bottom: 30px;
    }

    &__description {
      @include font-Lato;
      font-style: italic;
      font-weight: 600;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
    }
  }

  &__footer {
    @include font-Lato;
    margin: 0 auto;
    padding-top: 118px;
    text-align: center;
    font-size: 14px;
    color: #8c7b8f;
    width: 75%;
  }

  &__footer::after {
    content: '';
    display: block;
    transform: translate(50% -50%);
    position: relative;
    left: 50px;
    margin-top: 15px;
    height: 2px;
    width: 88%;
    background-color: #8c7b8f;
  }
}

.section-title {
  color: #ffffff;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

@media only screen and (max-width: 992px) and (min-width: 481px) {
  .feedback {
    &__column {
    flex: 0 0 45%;
    }
    &__footer::after {
      left: 0;
      width: 100%;
    }
  }

  .section-title {
    font-size: 43px;
  }
}

@media only screen and (max-width: 480px) {
  .responsive-bg {
    background: url("../img/section/media320_last-section.png") no-repeat center/cover;
  }

.pricing-plan {
  background: none;
}

  .feedback {
    background: none;
    &::after{
      content: '';
      display: block;
      position: relative;
      height: 2px;
      width: 90%;
      bottom: -44px;
      left: 5%;
      background-color: #8c7b8f;
    }
    &__row {
      justify-content: center;
    }
    &__column {
      flex: 0 0 85%;
      margin-top: 40px;
    }
    &__footer {
      display: none;
    }
  }
  .section-title {
    font-size: 38px;
    line-height: 55px;
  }
}




