@import "../mixins";

.pricing-plan {
  padding-top: 73px;
  padding-bottom: 97px;
  background: url('../img/section/pricing-plan-bg.png') no-repeat center/cover;
}

.pricing__row {
  @include d-flex-between;
  flex-wrap: nowrap;
  margin-top: 71px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1109px;
}

.pricing-column {
  flex: 0 1 257px;
  max-width: 257px;
  text-align: center;
  box-sizing: border-box;

  &--selected {
    flex: 0 1 299px;
    max-width: 299px;
  }

  &__header {
    padding-top: 46px;
    padding-bottom: 34px;
    background: rgba(106, 91, 108, 0.81);

    &--selected {
      background: rgba(57, 45, 60, 0.8);
    }

    &__title {
      font-size: 24px;
      font-weight: 300;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.84);
    }
  }

  &__body {
    padding-bottom: 38px;
    background: rgba(101, 83, 101, 0.7);

    &--selected {
      padding-bottom: 47px;
    }
  }

  &__body__price {
    padding-top: 23px;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;

    &--selected {
      padding-top: 18px;
      font-size: 82px;
    }

    &__dolor {
      font-weight: 400;
      color: #ffffff;
    }
  }

  &__month {
    position: relative;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.31);
    text-transform: uppercase;


    &::after {
      position: absolute;
      top: 54px;
      left: 50%;
      content: '';
      width: 60px;
      height: 5px;
      background: #8d81ac;
      transform: translate(-50%);
    }
  }

  &__description {
    margin-top: 75px;
    min-height: 46px;
    line-height: 23px;

    &--selected {
      min-height: 48px;
      line-height: 27;
    }

    &__text {
      font-size: 16px;
      font-weight: 300;
      color: #ffffff;
    }
  }

}

.btn--purchase {
  margin-top: 37px;

  @include button__purchase;
  background: #786b79;

  &:hover {
    background: #cecacf;
    color: #7f6d78;
  }
}

.btn--purchase--selected {
  margin-top: 96px;
  padding: 20px 50px;
}

@media only screen and (max-width: 992px) and (min-width: 481px) {
  .container {
    max-width: none;
  }
  .pricing__row {
    flex-wrap: wrap;
    max-width: 571px;
    margin: 48px auto 0;
    justify-content: space-between;
    align-content: center;
  }
  .pricing-column {
    flex: 0 1 257px;
    max-width: 257px;

    &--pl-768 {
      margin-left: 20px;
    }

    &--mt--768 {
      margin-top: 45px;
    }
  }
  .pricing-column--selected {
    margin-top: 42px;
    flex: 0 1 299px;
    max-width: 299px;
  }
}

@media only screen and (max-width: 580px) and (min-width: 481px) {
  .pricing-column {
    flex: 0 1 220px;
    max-width: 220px;

    &--pl-768 {
      margin-left: 0;
    }

    &--selected {
      flex: 0 1 235px;
      max-width: 235px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .pricing-plan {
    background: none;
  }

  .section-title--pricing-plan {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .pricing__row {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 290px;
    margin: 0 auto;
  }
  .pricing-column {
    margin-top: 14px;
  }
}