body {
  background: url('../img/section/__pricing-plan-bg.png') no-repeat center/cover;
  overflow-x: hidden;
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@import "common/navbar";
@import "components/button";
@import "common/header";
@import "sections/about-us";
@import "sections/advantages";
@import "sections/feedback";
@import "sections/pricing-plan";